


// HEADER
.header {
    background-color: #F3F8FF;
}


// Mobile Menu
.icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.icon:hover {
    background: #f7f6f6;
}

.mobile-menu-wrapper {
    overflow-y: auto;
}